<h1 align="center">User List</h1><br><br>
<h2 align="center">
<%= link_to( "ADD User",new_admin_user_path)%>&nbsp&nbsp
<%= link_to( "Home",admin_users_path)%>&nbsp&nbsp
</h2>
<center>
  <%= form_tag admin_users_path, method: :get, remote: true do %>
    <%= label_tag(:q,"first name")%>
    <%= text_field_tag :q, nil %>
    <%= submit_tag "Search" %>
  <% end %>
</center>
<h2 align="center">
  <% flash.each do |name,msg| -%>
    <%= content_tag :div, msg,class: name %>
  <% end %>
</h2>  
<div class="search_list">
  <%= render partial: "admin/users/userlist" %>
</div>





